@page "/"

@using Fluxor
@using GymTracker.BlazorClient.Features.AppBar.Store;
@using GymTracker.BlazorClient.Features.Home.Store
@using GymTracker.BlazorClient.Features.Workout.Perform.Store;

@inject IDispatcher Dispatcher

<div class="d-flex flex-row fullWidth fullHeight">
    <div class="pa-3 d-flex flex-column fullHeight" style="width: 65%; height: 30%;">
        <div class="pa-3 d-flex flex-row flex-wrap gap-4 fullWidth">
            <Buttons></Buttons>
        </div>
        <div class="pa-3">
            Charts here
        </div>
    </div>
    <div class="py-3 fullHeight" style="width: 35%">
        <WorkoutHistory></WorkoutHistory>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new ResetBreadcrumbsToHomeAction());
        Dispatcher.Dispatch(new InitaliseHomeAction());

        base.OnInitialized();
    }
}