@inject SessionData sessionData

<ul class="list-group list-group-flush me-1">
    @if(sessionData.CurrentSession?.Exercises != null)
    {
        @foreach (var item in sessionData.CurrentSession.Exercises.Select((exercise,i) => new{exercise, i}))
        {
            <li class="list-group-item @(item.i == sessionData.SelectedExerciseIndex ? "fw-bold" : "")"
                @onclick="() => HandleItemSelected(item.i)">
                @item.exercise!.Exercise!.Name
            </li>
        }
    }

</ul>

@code {
    private void HandleItemSelected(int index) => sessionData.SetSelectedIndex(index);
}
