@using GymTracker.BlazorClient.Features.History.WorkoutHistory.Store
@inherits FluxorComponent
@inject IState<WorkoutHistoryState> State
@inject IDispatcher Dispatcher

<div class="d-flex flex-column justify-space-between fullHeight fullWidth">
    <table class="mt-3 mb-auto fullWidth">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Chart</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in State.Value.FilteredExercises)
            {
                <tr>
                    <td>
                        @exercise.ExerciseName
                    </td>
                    <td>
                        <MudChart 
                            ChartType="ChartType.Line"
                            ChartSeries="@exercise.ChartSeries"
                            XAxisLabels="@State.Value.ChartDateXAxisLabels"
                            Width="100%"
                            Height="250px"
                            ChartOptions="@Options"  />
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    table {
        border: 1px solid;
        padding: 3px;
        font-size: 0.83rem;
    }

    th, td {
        border: 0.6px solid;
        padding: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%
    }

    thead {
        font-weight: bold;
    }

    .boldCell {
        font-weight: bold;
    }

    tr.exerciseRowStart {
        border-top: 2px solid;
    }

    tr.exerciseRowEnd {
        border-bottom: 2px solid;
    }

    .mud-tabs-panels {
        height: 100%;
    }
</style>

@code {
    public ChartOptions Options = new ChartOptions 
    { 
        DisableLegend = true,
        
    
    };
}