@page "/history/workouthistory"

<div class="d-flex flex-row fullWidth fullHeight">
    <MudTabs Outlined="true" Centered="true" Class="fullWidth">
        <MudTabPanel Icon="@Icons.Material.Filled.GridOn">
            <HistoryGrid></HistoryGrid>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.ShowChart" />
    </MudTabs>
</div>
@code {

}
