@page "/history/workouthistory"

<div class="fullWidth fullHeight pa-3">
    <MudTabs Outlined="true" Centered="true" Class="fullWidth">
        <MudTabPanel Icon="@Icons.Material.Filled.GridOn">
            <HistoryGrid></HistoryGrid>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.ShowChart" />
    </MudTabs>
</div>

@code {

}
