.fullHeight{
    height: 100%;
}

.fullWidth{
    min-width: 100%;
}

.textCenter{
    text-align: center;
}

.numericInput input{
    text-align: center;
    width: 2.5em!important;
}

.buttons .incrementButton:first-child {
    margin-top: 0px !important;
}

.buttons .incrementButton:last-child {
    margin-bottom: 0px !important;
}