.fullHeight{
    height: 100%;
}

.fullWidth{
    min-width: 100%;
}

.textCenter{
    text-align: center;
}

.homeButton{
    width: 140px;
    height: 140px;
}

.numericInput input{
    text-align: right;
    width: 2.5em!important;
}

.buttons .incrementButton:first-child {
    margin-top: 0px !important;
}

.buttons .incrementButton:last-child {
    margin-bottom: 0px !important;
}

.pulsate {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
}

@keyframes pulsate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}