<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            Please confirm
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>Are you sure you want to abandon this workout?</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Abandon</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}
