@page "/workout/perform"
@page "/workout/view/{id:guid}"

@using GymTracker.BlazorClient.Features.AppBar.Store;
@using GymTracker.BlazorClient.Features.Workout.Components.Main
@using GymTracker.BlazorClient.Features.Workout.Components.SideBar
@using GymTracker.BlazorClient.Features.Workout.Store;

@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<WorkoutState> State

<MudContainer Class="pa-3 ma-0" Style="height: 100%">
    <MudGrid Style="height: 100%">
        <MudItem xs="3">
            <SideBar></SideBar>
        </MudItem>
        <MudItem>
            <Main></Main>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new FetchWorkoutPlansAction(WorkoutListOrder.Recent));
        Dispatcher.Dispatch(new SetBreadcrumbAction(new[]
        {
            new BreadcrumbItem("Workout", "/workout/perform", false, Icons.Material.Filled.SportsMartialArts),
            new BreadcrumbItem("Perform", "/workout/perform", false, Icons.Material.Filled.ChecklistRtl)
        }));
        base.OnInitialized();
    }
}
