.row {
    /* margin-bottom: .5rem; */
    padding: .2rem 0;
}

    .row.selected {
        background-color: #212228;
    }

        .row.selected input {
            font-size: .9rem !important;
            padding-left: .1rem;
            padding-right: .1rem;
        }
