@using GymTracker.BlazorClient.Features.Workout.Components.SideBar.Timers

<div class="d-flex flex-column" style="height: 100%">
    <div style="height:200px; background-color:blue">
        Exercises
    </div>
    <div class="mt-auto mb-5">
        <MudButton Variant="Variant.Outlined" FullWidth="true">End Workout</MudButton>
    </div>
    <div>
        <MudDivider Class="mb-5" />
        <Timers></Timers>
    </div>
</div>

@code {

}
