@inject SessionData sessionData

<main class="ms-3 d-flex flex-column">
    <div id="title" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">29/06/22 - Push Day - @sessionData.SelectedExercise?.Exercise?.Name </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <i class="bi bi-list fs-1"></i>
            </div>
        </div>
    </div>
    <div id="mainContent" class="d-flex">
        Main content
    </div>
</main>

@code {
    protected override void OnInitialized()
    {
        sessionData.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        sessionData.OnChange -= StateHasChanged;
    }
}