<div id="session" class="me-3 d-flex flex-column">
    @*<WeightSession selectedExerciseAtom={selectedExerciseAtom}></WeightSession>*@
    <WeightSession></WeightSession>
    <div id="notes" class="border-top pt-3" >
        <label class="form-label">Notes</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>

@code {

}
