<div id="sessionSidebar" class="border-start">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">History</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active">Charts</a>
        </li>
        <li class="nav-item">
        <a class="nav-link">Learning</a>
        </li>
    </ul>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

@code {

}
