@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.ExerciseDetail.Components
@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.SideBar.Components

@inject IDispatcher Dispatcher


<main class="d-flex flex-column fullWidth fullHeight">
    @* <Title></Title> *@
    <div class="d-flex fullWidth fullHeight">
        <div id="mainSession" class="mt-3 me-3 fullHeight">
            <ExerciseDetail></ExerciseDetail>
        </div>
        <div id="mainSessionSideBar" class="fullHeight mr-1" style="">
            <SideBar></SideBar>
        </div>
    </div>
</main>


@code {

}
