@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.ExerciseDetail.Components

@inject IDispatcher Dispatcher


<main class="d-flex flex-column fullWidth fullHeight">
    @* <Title></Title> *@
    <div id="mainContent" class="d-flex fullWidth mt-3">
        <ExerciseDetail></ExerciseDetail>
        @* <SessionSideBar></SessionSideBar> *@
    </div>
</main>


@code {

}
