@page "/"
@using Fluxor
@using GymTracker.BlazorClient.Features.AppBar.Store;

@inject NavigationManager NavigationManager
@inject IDispatcher Dispatcher

<h3>Home</h3>

<MudButton 
    Variant="Variant.Filled" 
    Color="Color.Primary"
    OnClick="HandleManageExercises">Manage Exercises</MudButton>

<MudButton
    Variant="Variant.Filled"
    Color="Color.Primary"
    OnClick="HandleBackup">Backup </MudButton>
@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new ResetBreadcrumbsToHomeAction());
        base.OnInitialized();
    }

    void HandleManageExercises() => NavigationManager.NavigateTo("exercises");

    async void HandleBackup()
    {
        //var backupService = new BlobBackupService();
        //var data = await LocalStorageContext.Exercises.GetAsync();

        //await backupService.BackupData(data!, "Exercises");
    }
}
