@page "/"
@using GymTracker.BlazorClient.LocalStorage;

@inject NavigationManager NavigationManager

<h3>Home</h3>

<MudButton 
    Variant="Variant.Filled" 
    Color="Color.Primary"
    OnClick="HandleManageExercises">Manage Exercises</MudButton>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void HandleManageExercises() => NavigationManager.NavigateTo("exercises");
}
