@page "/"
@using Fluxor
@using GymTracker.BlazorClient.Features.AppBar.Store;

@inject NavigationManager NavigationManager
@inject IDispatcher Dispatcher

<h3>Home</h3>

<MudButton 
    Variant="Variant.Filled" 
    Color="Color.Primary"
    OnClick="HandleManageExercises">Manage Exercises</MudButton>

@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new ResetBreadcrumbsToHomeAction());
        base.OnInitialized();
    }

    void HandleManageExercises() => NavigationManager.NavigateTo("exercises");
}
