@page "/workout/perform"
@page "/workout/view/{id:guid}"

@using GymTracker.BlazorClient.Features.AppBar.Store;
@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main
@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.ExerciseDetail.Store
@using GymTracker.BlazorClient.Features.Workout.Perform.Components.SideBar
@using GymTracker.BlazorClient.Features.Workout.Perform.Store;

@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<WorkoutState> State

<div id="mainContent" class="fullHeight fullWidth d-flex" @onclick="() => Dispatcher.Dispatch(new SetSelectedSetAction(null))">
    <div id="sessionSidebar" class="fullHeight">
        <SideBar></SideBar>
    </div>
   
    <MudDivider Vertical="true" FlexItem="true" Class="mx-3" />

    <div id="mainSession" Class="flex-grow-1 fullHeight">
        @if (State.Value.SelectedExerciseId.HasValue)
        {
            <Main></Main>
        }
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new SetBreadcrumbAction(new[]
        {
            new BreadcrumbItem("Workout", "/workout/perform", false, Icons.Material.Filled.SportsMartialArts),
            new BreadcrumbItem("Perform", "/workout/perform", false, Icons.Material.Filled.ChecklistRtl)
        }));
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {

        base.OnParametersSet();
    }
}
