@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.ExerciseDetail.Store
@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ExerciseDetailState> State


<div class="d-flex flex-column fullWidth fullHeight">
    <ExerciseSets></ExerciseSets>

    <MudDivider DividerType="DividerType.Middle" Class="my-6 mt-auto" />

    <div id="notes" class="border-top pt-3">
        <label class="form-label">Notes</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>

@code {

}
