@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.ExerciseDetail.Store
@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ExerciseDetailState> State


<h3>@State.Value.WorkoutExerciseId</h3>

@code {

}
