@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.ExerciseDetail.Store
@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ExerciseDetailState> State


<div class="d-flex flex-column fullWidth fullHeight">
    <ExerciseSets></ExerciseSets>

    @if (nextSet is not null)
    {
        <div class="mt-auto pa-4">
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       Size="Size.Large"
                       FullWidth="true"
                       OnClick="HandleNext">Next</MudButton>
        </div>
    }
</div>

@code {
    private Set? nextSet => State.Value.Sets.FirstOrDefault(s => !s.Completed);

    private void HandleNext()
    {
        if (nextSet is not null)
        {
            Dispatcher.Dispatch(new ToggleSetCompletedAction(State.Value.WorkoutExerciseId, nextSet.Id, true));
        }
    }
}
