@using GymTracker.BlazorClient.Features.Exercises.Components
@using GymTracker.BlazorClient.Features.Workout.Perform.Components.Main.SideBar.Store
@inherits FluxorComponent

@inject IState<HistoryState> State

<div class="pa-2" style="overflow-y: auto; height: 530px;">
    <ExercisePerformance @key="State.Value.ExerciseStatistic?.ExerciseId"
        Statistic="State.Value.ExerciseStatistic"
        MetricType="State.Value.MetricType" />
</div>
