<div class="d-flex flex-column fullWidth">

    <MudPaper Class="" Elevation="0" Outlined="true" Square="true">
        <MudTabs Outlined="false" PanelClass="pa-1" MinimumTabWidth="55px" Border="true" Centered="true" @bind-ActivePanelIndex="activeTabIndex">
            <MudTabPanel Icon="@Icons.Material.Filled.History">
                <History></History>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.BarChart">
                <Charts></Charts>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.VideoLibrary">
                <Guides></Guides>
            </MudTabPanel>
        </MudTabs>
    </MudPaper>
</div>

@code {
    int activeTabIndex = 0;
}
