<div class="d-flex flex-column fullWidth fullHeight">
    <MudPaper Class="fullHeight" Elevation="0" Outlined="true" Square="true">
        <MudTabs Class="fullHeight" PanelClass="fullHeight" Outlined="false" MinimumTabWidth="55px" Border="true" Centered="true" @bind-ActivePanelIndex="activeTabIndex">
            <MudTabPanel Icon="@Icons.Material.Filled.History">
                <History></History>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.BarChart">
                <Charts></Charts>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.VideoLibrary">
                <Guides></Guides>
            </MudTabPanel>
        </MudTabs>
    </MudPaper>
</div>

@code {
    int activeTabIndex = 0;
}
