<div class="d-flex flex-column fullWidth">

    <MudTabs Outlined="true" MinimumTabWidth="55px" Centered="true">
        <MudTabPanel Icon="@Icons.Material.Filled.History" />
        <MudTabPanel Icon="@Icons.Material.Filled.BarChart" />
        <MudTabPanel Icon="@Icons.Material.Filled.VideoLibrary" />
    </MudTabs>

    <MudDivider DividerType="DividerType.Middle" Class="my-6 mt-auto" />

    test
</div>

@code {

}
