@using GymTrackerBlazorFluxorPOC.Session.Components.SideBar.Timers.CountdownTimer.Components
@using GymTrackerBlazorFluxorPOC.Session.Components.SideBar.Timers.Stopwatch.Components

<div class="d-flex flex-column mt-1 mb-3 timers">
    <hr class="mb-3 mt-0" />
    <div class="d-flex justify-content-center">
        <div class="timerContainer">
            <CurrentTime></CurrentTime>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="timerContainer">
            <WorkoutTime></WorkoutTime>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="timerContainer">
            <Stopwatch></Stopwatch>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="timerContainer">
            <CountdownTimer></CountdownTimer>
        </div>
    </div>
</div>

@code {

}
