@using System.Timers;
@using GymTrackerBlazorFluxorPOC.Session.Store;

@inject IState<SessionState> State

<span class="fw-semibold">Workout Time</span>
<h1>@duration.ToString(@"hh\:mm")</h1>

@code {
    private TimeSpan duration = TimeSpan.FromMilliseconds(0);
    private Timer timer = new(1000);

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        calcDuration();
        StateHasChanged();
    }

    private void calcDuration() => duration = DateTimeOffset.Now.Subtract(State.Value.Session?.StartedOn ?? DateTimeOffset.Now);

    public void Dispose() => timer.Dispose();
}
